@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('./common.css');

body {
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}


/* header style */
header {
  /* background: orange; */
  padding: 20px 0;
  position: fixed; /* 상단 메뉴 따라오기 */
  width: 100%;
  top: 0;
  z-index: 9999; /* 항상 위에 드러나있기 */
}

header .inner-header {
  /* background: tomato; */
  width: 92%;
  margin: 0 auto; /* flex는 여러 요소를 가로로 배치할 때 사용 */
  
  display: flex;
  align-items: center;
}

header .inner-header .logo {
  /* border: 2px solid aqua; */
  flex: 1; /* flex-grow: 1; */
}

header .inner-header .logo img {
  height: 60px;
}

header .inner-header .intro-text {
  /* border: 2px solid violet; */
  flex: 4;
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
}

header .inner-header .menu-open {
  /* border: 2px solid greenyellow; */
  flex: 1;
  font-weight: 700;
  font-size: 1.2em;
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .inner-header .menu-open .lnr-menu {
  font-size: 33px;
  margin-left: 15px;
}

/* gnb -> 숨겨진 메뉴 (햄버거 버튼 클릭시 등장) */
header .gnb {
  background: #000;
  color: #666;
  font-weight: 700;
  font-size: 40px;
  padding: 70px 100px;
  height: 100vh; /* 상하방향으로 화면 가득히 */

  position: fixed;
  right: -100%; /* 화면 오른쪽 바깥쪽으로 숨김 */
  top: 0;

  display: flex; /* 아이콘 x와 텍스트들 2개 요소를 배치*/
  flex-direction: row-reverse;

  transition: 0.8s;
}

header .gnb.open { /* 자바 스크립트 -> 동적 동작*/
  right: 0;
}

header .gnb .close {
  color: #fff;
  margin-left: 150px;
}

header .gnb ul {
  line-height: 1.7;
}

header .gnb ul li:hover,
header .gnb ul li.active {
  color: #fff;

  /* height: 100vh;
  overflow: hidden; */
}

/* section.visual style */
section.visual .slide li {
  background: violet;
  
  height: 100vh;
  overflow: hidden;
  position: relative;
}

section.visual .slide li img {
  width: 100%;
  position: absolute;
  top: -70px;
}

section.visual .slide li .txt {
  /* background: orange; */

  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);

  font-size: 18px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);

}

section.visual .slide li .txt h3 {
  margin: 30px 0;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.3;
}

section.visual .slide li .scroll {
  position: absolute;
  left: 5%;
  bottom: 10%;
  font-size: 15px;
  font-weight: 700;
  color: #ccc;

  transform: rotate(90deg);
}

